.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #57b986;
    left: 100px;
    position: relative;
    width: 89.3%;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: block;
    font-weight: bold;
    text-align: center;
}

.weekdays li span {
    color: #625886;
}

.times li {
    list-style-type: none;
    display: table-row-group;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-size:12px;
    color: #888;
}

.container {
  height:720px;
  width: 900px;
  display: inline-flex;
}

.timings {
  text-align: right;
  width: 111px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cde6bc;
  font-size: 0.5em;
  box-sizing: border-box
}

.timings span {
  font-size: 200%;
  color: #696969;
}

.event {
  background-color: #8cce9269;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  border-color: #57b986;
  border-left-color: #43ab75;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  font-size: 0.5em;
  box-sizing: border-box;
  position: absolute;
  margin-left: 108px;
  margin-top: 64px;
}

.event .title {
  color: #57b986;
  font-size: 200%;
}

.grid-1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
}

.grid-1 > div {
    border: 1px solid #d1d1d1;
}